set ideajoin
set which-key
set notimeout

let g:WhichKey_ShowVimActions   = "true"
let g:WhichKeyDesc_file         = "<Space>f  File"
let g:WhichKeyDesc_git          = "<Space>g  Git"
let g:WhichKeyDesc_open         = "<Space>o  Open"
let g:WhichKeyDesc_test         = "<Space>t  Test"
let g:WhichKeyDesc_refactor     = "<Space>r  Refactor"
let g:WhichKeyDesc_windows      = "<Space>w  Windows"
let g:WhichKeyDesc_comments     = "<Space>c  Comments"
let g:WhichKeyDesc_types        = "<Space>T  Types"

# Search
nnoremap <space>/  :action FindInPath<cr>
nnoremap <space><space> :action SearchEverywhere<cr>

# Files
nnoremap <space>fs :action SaveAll<cr>

# Go Places
# gd goes to definition by default
nnoremap gT :action GotoTest<cr>
nnoremap gi :action GotoImplementation<cr>
nnoremap gn :action GotoNextError<cr>
nnoremap gp :action GotoPreviousError<cr>
nnoremap gr :action PreviousTab<cr>
nnoremap gt :action NextTab<cr>
nnoremap gb :action Back<cr>

# Git
nnoremap <space>gg :action Vcs.QuickListPopupAction<cr>
nnoremap <space>gC :action Git.ResolveConflicts<cr>
nnoremap <space>gw :action ActivateVersionControlToolWindow<cr>

# Open / Menu
nnoremap <space>om :action ShowPopupMenu<cr>
nnoremap <space>oo :action MoveEditorToOppositeTabGroup<cr>

# Run
nnoremap <space>R :action RunClass<cr>

# Test
nnoremap <space>tt :action RerunTests<cr>
nnoremap <space>tf :action RerunFailedTests<cr>

# Refactor
nnoremap <space>rr :action Refactorings.QuickListPopupAction<cr>
nnoremap <space>ri :action ShowIntentionActions<cr>

# Windows (Tabs)
nnoremap <space>wd :action CloseContent<cr>
nnoremap <space>ws :action SplitHorizontally<cr>
nnoremap <space>wu :action Unsplit<cr>
nnoremap <space>wv :action SplitVertically<cr>
nnoremap <space>ww <C-w><C-w>
nnoremap <space>wl <C-w>l
nnoremap <space>wh <C-w>h
nnoremap <space>wk <C-w>k
nnoremap <space>wj <C-w>j

# Comments
nnoremap <space>cl :action CommentByLineComment<cr>
nnoremap <space>cL :action CommentByBlockComment<cr>

# Types
nnoremap <space>Ti :action Scala.TypeInfo<cr>
